
@{
    ViewBag.Title = "Player_Chart";
}

<html>
<head>
    <link rel="stylesheet" href="@Url.Content("~/Content/highslide.css")" type="text/css" />
    <link rel="stylesheet" href="@Url.Content("~/Content/bootstrap/bootstrap.min.css")" type="text/css" />
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,400,700,400italic" type="text/css" />
    <link rel="stylesheet" href="@Url.Content("~/Content/bootstrap/font-awesome.css")" type="text/css" />
    <link rel="stylesheet" href="@Url.Content("~/Content/bootstrap/template.css")" type="text/css" />
    <link rel="stylesheet" href="@Url.Content("~/Content/gallery.css")" type="text/css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script src="@Url.Content("~/Scripts/highslide-full.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/highslide.config.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/bootstrap.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/modernizr.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/script.js")" type="text/javascript"></script>
    <script type="text/javascript">
        var example = 'line-basic',
        theme = 'default';

        jQuery(document).ready(function () {

            fixNavigation();

            jQuery("#view-menu").click(function (e) {
                jQuery("#wrap").toggleClass("toggled");
            });
            jQuery("#sidebar-close").click(function (e) {
                jQuery("#wrap").removeClass("toggled");
            });
            // key listeners for the previous and next arrows
            jQuery(document).keydown(function (e) {
                var anchor;
                if (e.target.tagName != 'INPUT') {
                    if (e.keyCode == 39) {
                        anchor = document.getElementById('next-example');

                    } else
                        if (e.keyCode == 37) {
                            anchor = document.getElementById('previous-example');
                        }

                    if (anchor) {
                        location.href = anchor.href;
                    }
                }
            });
            // Bind event to style change switcher
            jQuery('#switcher-selector').bind('change', function () {
                var url = jQuery(this).val(); // get selected value
                if (url) { // require a URL
                    window.location = url; // redirect
                }
                return false;
            });
        });

        function fixNavigation() {
            var example = window.location.href.split("=")[1].split("&")[0];
            var currentLink = exampleToHyphens(example);
            var sideBar = $(".nav-sidebar");
            var sideBarLinks = sideBar.find("li a");

            sideBar.find("ul").css("display", "none");

            $(".nav-sidebar li a").each(function (index, link) {
                var href = $(link).attr("aria-label");
                var hrefSplitArray = href.split("/");
                var hrefTag = hrefSplitArray[hrefSplitArray.length - 1];

                if (currentLink == hrefTag) {
                    $(link).parent().addClass("active");
                    $(link).parent().parent().css("display", "block");
                    $(link).parent().parent().parent().addClass("active");

                    $(".demo-name").html("<a href='#'>Highcharts Demos</a> &rsaquo; " + $(link).text());

                    if (index < $(".nav-sidebar li a").length - 1) {
                        var nextHref = $(sideBarLinks.get(index + 1)).attr("href");
                        $(".chart-container").find("#next-example").attr("href", nextHref);
                    }

                    if (index > 0 ) {
                        var prevHref = $(sideBarLinks.get(index - 1)).attr("href");
                        $(".chart-container").find("#previous-example").attr("href", prevHref);
                    }
                }
            });

        }

        function exampleToHyphens(word) {
            var result = "";
            for (var i = 0; i < word.length; i++) {
                if (isUpperCase(word[i]) && i > 0) {
                    result += "-" + word[i].toLowerCase();
                }
                else {
                    result += word[i].toLowerCase();
                }
            }

            return result;
        }

        function isUpperCase(character) {
            return (character == character.toUpperCase());
        }
    </script>
</head>
<body>
    <div id="hs-component">
        <div class="container">
            <div id="wrap" class="sidebar-wrapper">
                <div id="comp-menu" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 hidden-xs">
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-9"></div>
                    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12 cont">
                        <h2 class="demo-name"></h2>
                        @*<div class="btn-group theme">
                            <a class="btn btn-theme @ViewBag.DefaultDisabled" href="?theme=default">Default</a>
                            <a class="btn btn-theme @ViewBag.DarkUnicaDisabled" href="?theme=dark-unica">Dark Unica</a>
                            <a class="btn btn-theme @ViewBag.SandSignikaDisabled" href="?theme=sand-signika">Sand Signika</a>
                            <a class="btn btn-theme @ViewBag.GridLightDisabled" href="?theme=grid-light">Grid Light</a>
                        </div>*@
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-9 sidebar">
                    <ul class="nav nav-sidebar">
                        <li class="active">
                            <div class="active"><span>Line charts</span><icon class="toggle"></icon></div>
                            <ul style="display: block;">
                                <li class="">
                                    <a aria-label="http://www.highcharts.com/demo/column-basic" href="@Url.Action("Player_Chart", "Home", new { demo = "ColumnBasic", theme = ViewBag.Theme } )">Basic line						</a>
                                </li>
                                <li class="">
                                    <a aria-label="http://www.highcharts.com/demo/column-basic" href="@Url.Action("Player_Chart", "Home", new { demo = "ColumnBasic", theme = ViewBag.Theme } )">Ajax loaded data, clickable points						</a>
                                </li>
                                <li class="">
                                    <a aria-label="http://www.highcharts.com/demo/column-basic" href="@Url.Action("Player_Chart", "Home", new { demo = "ColumnBasic", theme = ViewBag.Theme } )">With data labels						</a>
                                </li>
                                <li class="">
                                    <a aria-label="http://www.highcharts.com/demo/column-basic" href="@Url.Action("Player_Chart", "Home", new { demo = "ColumnBasic", theme = ViewBag.Theme } )">Time series, zoomable						</a>
                                </li>
                                <li class="">
                                    <a aria-label="http://www.highcharts.com/demo/column-basic" href="@Url.Action("Player_Chart", "Home", new { demo = "ColumnBasic", theme = ViewBag.Theme } )">Spline with inverted axes						</a>
                                </li>
                                <li class="">
                                    <a aria-label="http://www.highcharts.com/demo/column-basic" href="@Url.Action("Player_Chart", "Home", new { demo = "ColumnBasic", theme = ViewBag.Theme } )">Spline with symbols						</a>
                                </li>
                                <li class="">
                                    <a aria-label="http://www.highcharts.com/demo/column-basic" href="@Url.Action("Player_Chart", "Home", new { demo = "ColumnBasic", theme = ViewBag.Theme } )">Spline with plot bands						</a>
                                </li>
                                <li class="">
                                    <a aria-label="http://www.highcharts.com/demo/column-basic" href="@Url.Action("Player_Chart", "Home", new { demo = "ColumnBasic", theme = ViewBag.Theme } )">Time data with irregular intervals						</a>
                                </li>
                                <li class="">
                                    <a aria-label="http://www.highcharts.com/demo/column-basic" href="@Url.Action("Player_Chart", "Home", new { demo = "ColumnBasic", theme = ViewBag.Theme } )">Logarithmic axis						</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-9 sidebar-fill"></div>
                <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12 sidebar-eq demo">
                    <a id="sidebar-close" class="btn-default visible-xs">&laquo; Hide Menu</a>
                    <div id="chart-switcher" class="visible-xs">
                        <a id="previous-example"><i class="fa fa-angle-left"></i></a>
                        <h2 class="demo-name"></h2>
                        <a id="next-example" title="Next (arrow right)"
                           href="http://www.highcharts.com/demo/line-ajax"><i class="fa fa-angle-right"></i></a>
                    </div>
                    @*<div id="small-switcher" class="visible-xs">
                        <a class="button" id="view-menu" onclick="">Menu &raquo;</a>
                        <select id="switcher-selector">
                            <option value="http://www.highcharts.com/demo/line-basic" selected>Default theme</option>
                            <option value="http://www.highcharts.com/demo/line-basic/dark-unica">Dark Unica</option>
                            <option value="http://www.highcharts.com/demo/line-basic/sand-signika">Sand Signika</option>
                            <option value="http://www.highcharts.com/demo/line-basic/grid-light">Grid Light</option>
                        </select>
                        <div class="clearfix"></div>
                    </div>*@
                
                    <div id="container" style="width: 100%; height: auto; margin: 0 auto">

                        @Html.Action("ColumnBasic", "ColumnBasic")

                    </div>
                
                    @*<div id="demo-buttons">
                        <a class="button" href="javascript:"
                           onclick="hs.htmlExpand(this, { width: 800,
					                headingText: 'Demo Controller Code',
					                wrapperClassName: 'draggable-header' })">Controller Code &raquo;</a>
                        <div class="highslide-maincontent" style="display:none">
                            <pre>@ViewBag.ControllerCode</pre>
                        </div>
                        <a class="button" href="javascript:"
                           onclick="hs.htmlExpand(this, { width: 800,
					                headingText: 'Demo View Code',
					                wrapperClassName: 'draggable-header' })">View Code &raquo;</a>
                        <div class="highslide-maincontent" style="display:none">
                            <pre>@ViewBag.ViewCode</pre>
                        </div>
                    </div>*@
                </div>
                <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12 sidebar-eq-fill"></div>
                <div class="clearfix"></div>
            </div>

        </div>
    </div>
</body>
</html>


